
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

@font-face {
    font-family: Afrah;
    font-weight: normal;
    src: url(../fonts/AfrahDemo.otf);
}


/* contact modal */
.modal {
    background-color: rgba(255, 255, 255, 0.3) !important;
}
.modal-close {
    background-color: #212529 !important;
    color: white;
    font-weight: 600;
}
.modal-close:hover {
    background-color: white !important;
    color:#212529;
}
.modal-footer {
    justify-content: flex-start;
}
.modal-header {
    padding: 8px !important;
}
.modal-footer, .modal-header {
    border: unset;
}
#contact-modal .modal-title{
    font-family: "Abhaya Libre";
    font-weight: 800;
}
.modal-submit {
    background-color: white;
    color: #212529;
    font-weight: 600;
}
.modal-content {
    background-color: var(--lightpink) !important;
    border: unset !important;
    padding: 20px !important;
}
[data-page="home"].sticky .logo-img-nav {
    filter: invert(1)
}
[data-page="gallery"] .navbar-toggler-icon, [data-page="about"] .navbar-toggler-icon, [data-page="progress"] .navbar-toggler-icon {
    color:#212529;
}
:root {
    --yellow: #ffcc00;
    --green: #95978B;
    --teal: #aac9d1;
    --blue: #395186;
    --lightpink: #FFECEC;
    --pink: #FABDBD;
}
* {
    font-family: Inter;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#navigation #logo {
    z-index: 1;
    margin-left: 30px;
    width: 200px;
}
.offcanvas-header {
    padding-top: 30px;
    padding-right: 30px;
}
.offcanvas-header button {
    border: none;
    background-color: transparent;
}
.offcanvas-header i::before {
    color: #212529;
    font-size: 2rem;
}
#footer #logo {
    margin-left: 0;
}
#contact-form {
    background-color: var(--lightpink);
    padding: 33px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 700px;
}
#contact-form fieldset {
    display: flex;
    flex-direction: column;
}
.btn-submit .btn{
    background-color: white;
    color: #212529;
    font-weight: bold;
}
.btn-submit .btn:hover, .modal-submit:hover {
    background-color: #212529;
    color: white;
}
.footer-logo {
    display: grid;
    align-content: center;
}
.footer-logo .logo-img {
    width: 250px;
}
#logo span {
    line-height: 2rem;
}
#navigation {
    z-index: 10000;
    transition: .5s;
}
.navbar-toggler-icon {
    z-index: 1000;
    color: white;
    background-image: none;
}
.navbar .btn-close {
    background-image: none;
    font-size: 30px;
    position: relative;
    color: #212529;
    z-index: 10000;
}
.btn-close i {
    color: #212529 !important;
}
.btn-close,
.btn-close:focus,
.btn-close:active,
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}
.navbar-toggler-icon::before {
    font-family: FontAwesome;
    font-size: 30px;
    content: "\f0c9";

}
#home-header {
    z-index: -1;
}
[data-page="home"] #navigation .nav-link {
    color: white;
}
#navigation .nav-link {
    color:#212529;
    font-size: 1.5rem;
    font-weight: 600;
    flex: 0 1 auto;
}
.nav-link:hover {
    color: var(--pink) !important;
}
[data-page="home"] .nav-link:hover {
    color: var(--pink ) !important
}
body.sticky #navigation {
    position: fixed;
    width: 100%;
    background: white;
    text-align: left;
    padding-left: 20px;
    transition: .5s;
    top: 0;
    border-bottom: 5px solid var(--pink);
    
 }
body.sticky .nav-link {
    color:#212529 !important;
}
#banner {
    top: 0;
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: 999;
}
[data-page="gallery"] #banner, [data-page="about"] #banner {
    background: unset;
    height: unset;
}
[data-page="gallery"] #header, [data-page="about"] #header {
    height: unset;
}
.hero-swiper {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 0;
    overflow: hidden;
}
.hero-swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#banner:after {
    z-index: 1;
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #21252779;
}
#header {
    height: 100vh;
}
.sidebar {
    width: 100px;
}
.mission-container {
    flex: 1 1 auto;

}
#mission {
    z-index: 999;
    color: white;
    font-size: 55px;
    font-family: "Abhaya Libre";
    font-weight: bold;
    margin-left: 50px;
}
#mission-i {
    /* font-style: oblique; */
    font-family: "Abhaya Libre";
    line-height: .9;
    letter-spacing: 0%;
    z-index: 999;
}
.process-video {
    height: 450px;
}
#gallerypage {
    z-index: 998;
    padding: 100px 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
    transform: skewY(-6deg);
    background-color: var(--yellow);
    outline: 10px solid rgba(255, 204, 0, 0.5);
    width: 100%;
}
#gallerypage #gallery, #gallerypage .title {
    transform: skewY(6deg)
}
#home-process {
    z-index: 998;
    padding: 100px 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
    transform: skewY(-6deg);
    background-color: var(--blue);
    width: 100%;
}
.home-process {
    transform: skewY(6deg);
    color: white;
    
}
#home-process .title, #about .title, #home-gallery .title, #testimonials .title, #gallerypage .title, #about-page .title, #about-process .title, #mission-statement .title, #story .title, #contact-us .title{
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: "Abhaya Libre";
    font-weight: 800;
    font-size: 3.5rem;
}
.desc {
    font-size: 1.5rem;
}
.lil-title {
    font-size: 2.5rem;
}
#mission-statement {
    z-index: 998;
    width: 100%;
    padding: 100px 50px;
    flex-direction: column;
    margin-bottom: 50px;

}
#mission-statement .title {
    margin-top: 0;
}
#story {
    z-index: 998;
    width: 100%;
    padding: 100px 50px;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    transform: skewY(-6deg);
    background-color: var(--teal);
    outline: 10px solid rgba(170, 201, 209, .55);

}
#story > * {
    transform: skewY(6deg);
}
#about-process {
    z-index: 998;
    width: 100%;
    padding: 100px 50px;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
}
#about {
    z-index: 998;
    width: 100%;
    padding: 100px 50px;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    transform: skewY(-6deg);
    background-color: var(--yellow);
    outline: 10px solid rgba(255, 204, 0, 0.5);

}
#about .title, #about .content {
    transform: skewY(6deg);
}
#about .desc {
    word-wrap: normal;
    flex-wrap: wrap;
}
#about-left {
    flex: 1;

}
#about .content, #home-process .content {
    align-items: center;
}
#about-left, #process-left {
    border-radius: .2rem;
}
#about-right, #process-right {
    flex: 2;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    width: 50%;
    margin: 0 50px;
}
#process-right {
    width: 100%;
}
#process-right a {
    margin-top: 30px;
}
#process-btn {
    padding: 15px 20px;
    font-weight: 700;
    font-size: 1.2rem;
    border: 2px solid white;
    background-color: unset;
    color: white;
}
#process-btn:hover {
    background-color: white;
    color: var(--blue);
}
.desc {
    font-weight: 500;

}
#home-gallery {
    width: 100%;
    padding: 100px 50px;
    margin-top: 50px;
    margin-bottom: 50px;

}
#about-page {
    z-index: 998;
    width: 100%;
    padding: 0 50px;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}
#about-page .desc {
    font-size: 1.2rem;
    word-wrap: normal;
    flex-wrap: wrap;
}
#about-page .title {
    margin-bottom: 15px;
}
.about-process h2 {
    font-family: "abhaya libre";
    font-weight: 900;
}
.about-process img {
    border-radius: 10px;
}
.about-process {
    flex-wrap: wrap;
    gap: 10px;
}
#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

}
#navigation .active {
    /* color: var(--pink) !important; */
    font-style: italic;
}
[data-page="home"] #gallery > li {
    flex-basis: 300px; /*width: 350px;*/
    position: relative;
}
[data-page="home"] #gallery li img {
    object-fit: cover;
    max-width: 90%;
    height: auto;
    vertical-align: middle;
    border-radius: 10px;
}
[data-page="gallery"] #gallery > li {
    flex-basis: 300px;
    position: relative;
}

[data-page="gallery"] #gallery li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 10px;
}
#testimonials {
    width: 100%;
    padding: 100px 50px;
    background-color: var(--teal);
    outline: 10px solid rgba(170, 201, 209, .55);
    transform: skewY(-6deg);

}
#testimonials .title {
    transform: skewY(6deg);
    
}
.testimonial {
    transform: skewY(6deg);
    position: relative;
    display: flex;
    /* max-width: 900px; */
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
}
.testimonial .image {
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
  }
  .testimonial .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    height: 100%;
    width: 100%;
  }
  .slide p {
    text-align: center;
    padding: 0 160px;
    font-size: 18px;
    font-weight: 400;
    color: #212529;
    font-weight: 500;
  }
  .slide .quote-icon {
    font-size: 30px;
    color: var(--blue);
  }
  .slide .details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .details .name {
    font-size: 16px;
    font-weight: 600;
    color: #212529;
  }
  /* swiper button css */
  .nav-btn {
    height: 40px;
    width: 40px;
    transform: translateY(30px);
    transition: 0.2s;
  }
  .nav-btn::after,
  .nav-btn::before {
    font-size: 40px;
    color: var(--blue);
  }
  .nav-btn:hover::after,
  .nav-btn:hover::before {
    opacity: 75%;
  }
  .swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .swiper-pagination-bullet-active {
    background-color: var(--blue);
  }
  @media screen and (max-width: 768px) {
    .slide p {
      padding: 0 20px;
    }
    .nav-btn {
      display: none;
    }
  }
  

#quotes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}
#quotes > li {
    position: relative;
    padding: 10px;
}
#quotes .quote {
    font-family: "Abhaya Libre";
    font-size: 25px;
    font-weight: bold;
}
#quotes .author {
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    color: var(--teal);
}
#contactus {
    margin-top: 50px;
}
#contactus-btn {
    margin: 30px 0
}
.gallery-btn {
    color: white;
    font-size: 40px;
    font-weight: 700;
    background-color: gray;
    width: 100%;
}
#contact-us {
    z-index: 998;
    width: 100%;
    padding: 100px 50px;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;

}
#contact-us .content {
    justify-content: center;
}
#footer {
    /* z-index: 999; */
    background-color: white;
    box-shadow: 0 -5px 0 0 var(--pink);
    /* outline: 5px solid var(--pink); */
    width: 100%;
    padding: 10px 30px;
    padding-top: 20px;
    position: relative;
}
ul {
    list-style-type: none;
    padding-left: unset;
}
#footer #logo-img{
    width: 100px;
}
#footer a, .socials li{
    text-decoration: unset;
    color: #212529;
}
#footer h2 {
    font-family: "Abhaya Libre";
    font-weight: 800;
    color: #212529;
}
.footer-contact-modal {
    cursor: pointer;
}
.social-list {
    gap: 5px;
}
.social-icon {
    width: auto;
    font-size: 1.7em;
}
.socials a:hover {
    text-decoration: none;
}
.social-icon:hover {
    text-decoration: none;
}
.footer-content {
    display: flex;
    flex-basis: auto;
    justify-content: space-between;
    width: 100%;
}
.footer-extra {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    gap: 50px;
    /* width: 100%; */
    /* flex: 1 1 auto; */
}
.footer-extra div {
    display: flex;
    flex-direction: column;
}
#footer .socials i, #footer .socials img {
    margin-right: 5px;
}
.socials a {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.social a {
    display: flex;
    flex-direction: row;
}
#footer .socials li {
    align-items: center;
}
#footer .copyright {
    text-align: start;
    padding-top: 15px;
    margin-bottom: 0;
}
#footer li:hover {
    text-decoration: underline;
}
#footer ul {
    margin-bottom: 0;
}
.footer-logo-mobile {
    display: none;
}
#footer .copyright i {
    font-size: .85rem;
}
.images {
    --bs-gutter-y: 1.5rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    /* padding-top: 100px; */
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    height: fit-content;
    max-width: 1200px;
}
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
.lb-image {
    border: none !important;
}
@media (max-width: 767px) {
    .navbar-nav {
        align-items: center !important;
    }
    .sidebar {
        max-width: 80%;
    }
    .navbar-nav .contact-email {
        margin-left: 0;
    }
    #logo {
        width: 200px;
    }
    body.sticky .nav-link {
        color: #212529 !important;
    }
    .nav-link {
        color: #212529 !important;
    }
    
    .sticky .navbar-toggler-icon::before {
        color: #212529;
    }
    #process-left {
        display: none;
    }
    #about .title, #home-process .title, #home-gallery .title, #gallerypage .title, #testimonials .title, #about-process .title, #contact-us .title {
        font-size: 40px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    #about, #home-process, #home-gallery, #testimonials, #contact-us {
        padding: 50px 25px;
    }
    #about .content{
    }
    #about p {
        font-size: .8rem;
        text-align: center;
        margin: 0 20px;
    }
    #about img {
        width: 150px;
    }
    #gallery img {
        margin-bottom: 30px;
    }
    #gallery-btn {
        height:none;
    }
    #mission {
        font-size: 2.5rem;
    }
    #process-right {
        margin: 0;
    }
    #home-process .desc {
        font-size: 1rem;
    }
    #process-btn {
        font-size: 1rem;
    }
    #quotes .quote {
        font-size: 20px;
    }
    #footer #logo {
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
    }
    #footer .logo-img {
        width: 200px;
    }
    .footer-logo-mobile {
        display: unset;
    }
    .footer-extra {
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .footer-content {
        flex-direction: column;
    }
    .footer-logo {
        display: none;
    }
    .socials a {
        font-size: 16px;
    }
}
