
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: Inter;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#logo {
    z-index: 1;
    font-family: 'Dancing Script';
    /* font-size: 30px; */
    font-size: 60px;
    font-weight: 800;
    color: white;
    /* background: -webkit-linear-gradient(#FFDD00, #FBB034);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    text-decoration: none;
    margin-left: 30px;
}
#logo span {
    line-height: 2rem;
}
#navigation {
    z-index: 1000;
}
.navbar-toggler-icon {
    z-index: 1000;
    color: white;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none;
}
#home-header {
    z-index: -1;
}
#navigation .nav-link {
    color:white;
    font-size: 1.5rem;
    font-weight: 600;
}
#banner {
    top: 0;
    background: center no-repeat rgb(218, 165, 32) url("../media/images/header.jpg"); 
    background-size: cover;
    height: 100vh;
    width: 100%;
}
#banner:after {
    z-index: 1;
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #21252779;
}
/* #header {
    height: calc(100vh - 62px);
} */
.sidebar {
    width: 100px;
}
#mission {
    z-index: 999;
    color: white;
    font-size: 55px;
    font-family: Inter;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 50px;
    margin-top: 150px;
}
#mission-i {
    font-weight: 800;
    font-style: oblique;
}
#home-process {
    /* padding: 50px; */
    width: 75%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
}
#home-process .title, #about .title  {
    margin-bottom: 50px;
}
#about {
    /* padding: 50px; */
    width: 75%;
    margin: auto;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}
#about .desc {
    word-wrap: normal;
    flex-wrap: wrap;
}
#about-left {
    flex: 1;

}
#about .content, #home-process .content {
    align-items: center;
}
#about-left, #process-left {
    border-radius: .2rem;
}
#about-right, #process-right {
    flex: 2;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    width: 50%;
    margin: 0 50px;
}
#process-right {
    width: 100%;
}
#process-right a {
    margin-top: 30px;
}
#process-btn {
    padding: 15px 20px;
    font-weight: 700;
    font-size: 1.2rem;
    border: 2px solid black;
    /* background-color: #FFD75B; */
    background-color: unset;
    color: black;

}
.title  {
    font-size: 40px;
    font-weight: 900;
}
.desc {
    font-weight: 500;

}
#gallery {
    padding: 30px;
    margin-top: 50px;
}
#gallery .tall:not(:first-child){
    /* margin-left: 20px; */
}
.gallery-btn, .short {
    /* margin-left: 20px; */
}
.short {
    margin-bottom: 20px;
}
#contactus {
    margin-top: 50px;
}
#contactus-btn {
    margin: 30px 0
}
.gallery-btn {
    color: white;
    font-size: 40px;
    font-weight: 700;
    background-color: gray;
    width: 100%;
}
#footer {
    background-color: gray;
    margin-top: 30px;
}
ul {
    list-style-type: none;
    padding-left: unset;
}
#footer a {
    text-decoration: none;
    color: white;
}
#footer h2 {
    padding-bottom: 15px;
}
#footer a  i {
    font-size: 1.5rem;
}
#gallerypage {
    width: 75%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
#gallerypage img {
    cursor: pointer;
}
.images {
    --bs-gutter-y: 1.5rem;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    /* padding-top: 100px; */
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    height: fit-content;
    max-width: 1200px;
}
.modal-content img {
}
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
@media (max-width: 768px) {
    #logo {
        font-size: 3rem;
    }
    #process-left {
        display: none;
    }
    #about .content{
        align-items: flex-start;
    }
    #about {
        width: 85%;
    }
    #about p {
        font-size: .8rem;
        text-align: center;
    }
    #about img {
        width: 150px;
    }
    #gallery img {
        margin-bottom: 30px;
    }
    #gallery-btn {
        height:none;
    }
    #mission {
        font-size: 2rem;
    }
    #process-right {
        margin: 0;
    }
    #home-process .desc {
        font-size: 1rem;
    }
    #process-btn {
        font-size: 1rem;
    }
}
